*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea
images/
.externalNativeBuild
*.apk
*.xml___jb_tmp___
app/fabric.properties
app/release/output.json
