<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.booboot.vndbandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.DayNight"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${FABRIC_API_KEY}" />

        <activity
            android:name=".ui.home.HomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.vndetails.VNDetailsActivity"
            android:theme="@style/SplashScreen"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.slideshow.SlideshowActivity"
            android:theme="@style/AppTheme.DayNight.NoActionBar.Translucent" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.DayNight.NoActionBar.Translucent" />

        <activity android:name=".ui.url.URLActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="com.booboot.vndbandroid" />
            </intent-filter>
        </activity>

        <service android:name=".service.ScreenshotNotificationService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.booboot.vndbandroid.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>